{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}



{% block body %}
  <!-- bradcam_area  -->
  <div class="bradcam_area bradcam_bg_1">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text">
                      <h3>{{blog.title}}</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ bradcam_area  -->

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img  class="img-fluid" src="{{blog.image.url}}"  alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{blog.title}}
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i> {{blog.author}}</a></li>
                        <li><a href="#"><i class="fa fa-tag"></i>Category : {{blog.category}}</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> {{ comments.count }} Comments</a></li>
                     </ul>
                     
                     <div class="quote-wrapper">
                        <div class="quotes">
                           {{blog.description}}
                        </div>
                     </div>
                     
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                    
                  </div>
                  <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           {% if prev_post %}

                           <div class="thumb">
                              <a href="{% url 'blog:blog_detail' title=prev_post.title %}">
                                 <img class="img-fluid" style="width: 100px;" src="{{ prev_post.image.url }}" alt="Previous Post Image">
                              </a>
                           </div>
                          
                           <div class="arrow">
                              <a href="{% url 'blog:blog_detail' title=prev_post.title %}">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href="{% url 'blog:blog_detail' title=prev_post.title %}">
                                 <h4>{{prev_post.title}}</h4>
                              </a>
                           </div>
                           {% endif %}
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           {% if next_post %}
                           <div class="detials">
                              <p>Next Post</p>
                              <a href="{% url 'blog:blog_detail' title=next_post.title %}">
                                 <h4>{{next_post.title}}</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="{% url 'blog:blog_detail' title=next_post.title %}">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="{% url 'blog:blog_detail' title=next_post.title %}">
                                 <img class="img-fluid" style="width: 100px; " src="{{ next_post.image.url }}" alt="Next Post Image">
                              </a>
                           </div>
                           {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            
               <div class="comments-area">
                  <h4>{{ comments.count }} Comments</h4>
                  {% for comment in comments %}
                      <div class="comment-list">
                          <div class="single-comment justify-content-between d-flex">
                              <div class="user justify-content-between d-flex">
                                  <div class="thumb">
                                      <img src="{{ comment.user.profile.image.url }}" alt="{{ comment.user.username }}" style="width: 70px; height: 80px;  border-radius: 50%;  object-fit: cover;">
                                  </div>
                                  <div class="desc">
                                      
                                      <div class="d-flex justify-content-between">
                                          <div class="d-flex align-items-center">
                                              <h5>
                                                  <a href="#">{{ comment.user.username }}</a>
                                              </h5>
                                              <p class="date">{{ comment.published_at }}   </p>
                                              

                                     
                                          </div>
                                          {% if comment.edited %}
                                             <span style="color: gray;">(edited)</span>
                                          {% endif %}

                                          
                                      </div>
                                      <p class="comment">{{ comment.text }}</p>
                                      {% if comment.user == user %}
                                      {% comment %} <button type="button"  class="btn btn-outline-danger delete-comment">Delete your Comment</button> {% endcomment %}
                                      <a href="{% url "blog:delete_comment" comment.id  %}"class="btn btn-outline-danger"  role="button">Delete</a>  
                                      {% endif %}
                                  </div>
                                  
                              </div>
                              {% if comment.user == user %}
                              <!-- Display edit link/button for the comment owner -->
                              <a href="?edit_comment_id={{ comment.id }}#edit-comment-form" class="edit-comment">Edit</a>
                              
                              {% endif %}
                          </div>
                          
                          
                      </div>
                  {% endfor %}
              </div>
              <!-- Edit comment form -->
              <form id="edit-comment-form" class="form-contact comment_form" method="post" action="{% url 'blog:blog_detail' title=blog.title %}" style="display: none;">
               {% csrf_token %}
               <input type="hidden" name="comment_id" id="comment-id" value="{{ form.instance.id }}">
               <div class="row">
                   <div class="col-12">
                       <div class="form-group">
                           <textarea class="form-control w-100" name="text" id="text" cols="30" rows="9" placeholder="Write/Edit Comment" required>{{ form.text.value }}</textarea>
                       </div>
                   </div>
               </div>
               <div class="form-group">
                   <button type="submit" class="button button-contactForm btn_1 boxed-btn">Save Changes</button>
               </div>
           </form>
           <script>
            function preventFormResubmission(event) {
                // Prevent the default form submission behavior
                event.preventDefault();
            }
        
            document.addEventListener('DOMContentLoaded', function () {
                // Check if the edit_comment_id is present in the URL
                const urlParams = new URLSearchParams(window.location.search);
                const editCommentId = urlParams.get('edit_comment_id');
        
                if (editCommentId) {
                    // If edit_comment_id is present, show the edit comment form
                    document.getElementById('edit-comment-form').style.display = 'block';
        
                    // Set the comment_id in the form
                    document.getElementById('comment-id').value = editCommentId;
                }
        
                
                    
                });
        
        </script>
        
              
              <div class="comment-form">
               <h4>Leave a Reply</h4>
               <form id="comment-section" class="form-contact comment_form" method="post" >
                   {% csrf_token %}
                   <input type="hidden" name="blog_id" value="{{ blog.id }}">
                   <div class="row">
                       <div class="col-12">
                           <div class="form-group">
                               <textarea class="form-control w-100" name="text" id="text" cols="30" rows="9"
                                   placeholder="Write Comment" required></textarea>
                           </div>
                       </div>
                   </div>
                   <div class="form-group">
                       <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                   </div>
               </form>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget search_widget">
                     <form action="#">
                        <div class="form-group">
                           <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder='Search Keyword'
                                 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                              <div class="input-group-append">
                                 <button class="btn" type="button"><i class="ti-search"></i></button>
                              </div>
                           </div>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Search</button>
                     </form>
                  </aside>
                  <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">Category</h4>
                     <ul class="list cat-list">
                         <li><a href="{% url 'blog:blog_list' %}" {% if not selected_category %}class="active"{% endif %}>All Categories ({{ all_categories_count }})</a></li>
                         {% for category in categories %}
                             <li>
                                 <a href="{% url 'blog:blog_list_category' category_name=category.name %}" {% if category.name == selected_category %}class="active"{% endif %}>
                                     {{ category.name }} ({{ category.blog_set.count }})
                                 </a>
                             </li>
                         {% endfor %}
                         
                     </ul>
                 </aside>

                     <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent Post</h3>
                        {% for post in recent_post  %}
                        <div class="media post_item">
                           {% if post.author.profile.image %}
                              <!-- Check if the author has a profile image -->
                              <img src="{{ post.author.profile.image.url }}" alt="{{ post.author.username }}" style="width: 80px; height: 80px;  border-radius: 50%;  object-fit: cover;">
                           {% else %}
                              <img src="{% static 'img/blog/author.png' %}" alt="{{ post.author.username }}" class="rounded-circle">
                           {% endif %}
                           <div class="media-body">
                              <a href="single-blog.html">
                                    <h3>{{post.title}}</h3>
                              </a>
                              <p>{{post.published_at|timesince}}</p>
                           </div>
                        </div>
                        {% endfor %}
                        
                     </aside>

            
                  <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="#">
                        <div class="form-group">
                           <input type="email" class="form-control" onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Subscribe</button>
                     </form>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->


   {% endblock body %}